<nav class="navbar">

    <div class="container navbar__container">

        <a href="/" class="navbar__brand">

            <span class="navbar__logo">
                {{ site.name }}<span>.</span>
            </span>

        </a>

        <div class="navbar__links">

            {% for item in navigation %}

                <a href="{{ item.url }}" class="navbar__link">
                    {{ item.title }}
                </a>

            {% endfor %}

        </div>

        <a href="#" class="button button--primary navbar__button">
            Resume
        </a>

    </div>

</nav>