<nav class="navbar">

    <div class="container navbar__container">

        <a href="/" class="navbar__brand">
            <span class="navbar__logo">
                Bachkatov<span>.</span>
            </span>
        </a>


        <div class="navbar__links">

            <a href="#" class="navbar__link">
                Work
            </a>

            <a href="#" class="navbar__link">
                Research
            </a>

            <a href="#" class="navbar__link">
                Certifications
            </a>

            <a href="#" class="navbar__link">
                About
            </a>

        </div>


        <a href="#" class="button button--primary navbar__button">
            Resume
        </a>


    </div>

</nav>